@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

:root{
    --white: #fff; 
    --red: 	#FF0000;
    --black: #0D0D0D;
    --gray77: #C4C4C4;
    --btnred: #C00511;
    --footercolor: #252423;
    --gray: #8B8B8B;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url(./images/image\ 1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* ! ---Header--- */

.bg_shadow{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

.header_head--container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_resp{
    display: flex;
    gap: 116px;
}

.nav_list{
    display: flex;
    gap: 60px;
    margin-top: 55px;
}

.head_icons--container{
    /* display: flex; */
    margin-top: 58px;
}
.header_icons{
    display: flex;
}

.logo{
    margin-top: 49px;
    width: 137px;
}

.nav_list li a{
    color: var(--white);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 19px;
}

.inp_icon{
    display: flex;
    align-items: center;
    gap: 8px;
}

.inp_icon input{
    background: none;
    border: none;
    outline: none;
    color: var(--white);
}

.bell_icon{
    margin-left: 58px;
    margin-right: 28px;
}

.fa-bars{
    color: var(--white);
    display: none !important;
}

.header_middle--container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 153px;
    color: var(--white);
}

.header_middle--list{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 23px;
    color: var(--white);
}

.header_middle--container h1{
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 67px;
}
.header_middle--container p{
    max-width: 445px;
    margin-top: 35px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 22px;
}

.header_end--list{
    display: flex;
    gap: 34px;
    margin-top: 45px;
}

.header_end--list li{
    display: flex;
    align-items: center;
}

.header_end--list img{
    margin-right: 5px;
}

.btn{
    margin-top: 49px;
    display: flex;
    gap: 47px;
}

.btn_watch{
    width: 191px;
    height: 50px;
    border-radius: 99px;
    background: rgba(207, 0, 15, 0.9);
    border-style: none;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 21px;
    color: var(--white);
}

.btn_add{
    width: 158px;
    height: 50px;
    border: 0.3px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 99px;
    color: var(--red);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 21px;
    background: linear-gradient(262.15deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

/* ! ---Main Section---  */

main{
    background-color: var(--black);
    
}

.main_container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 77px;
}

.main_container a{
    width: 56px;
    display: block;
    margin-left: auto;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19px;
    color: var(--gray77);
}

.continue_section--header h3{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 38px;
    color: var(--white);
    margin-bottom: 30px;
}

.continue_section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
    gap: 48px;
}

.grid_card{
    min-width: 358px;
}

.grid_card video{
    width: 100%;
    height: 243px;
}

.grid_card p{
    color: var(--white);
    padding-top: 17px;
}

.slider_container{
    max-width: 1256px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 28px;
}

.slider_cards{
    display: flex;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    gap: 37px;
    overflow-x: hidden;
}

.slider_card{
    min-width: 265px;
}

.slider_cards p{
    color: var(--white);
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 21px;
}

.slider_inner--card{
    position: relative;
}

.slider_inner--card svg{
    position: absolute;
    top: 21px;
    right: 19px;
}

.slider_inner--card img{
    width: 100%;
    height: 100%;
}

.load{
    width: 113px;
    height: 37px;
    border-radius: 99px;
    color: var(--white);
    background: var(--btnred);
    outline: none;
    border-style: none;
    margin-top: 52px;
    margin-left: 330px;
}

/* !-------- Footer --------! */

footer{
    background-color: var(--footercolor);
}

.footer_container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 128px;
    padding-bottom: 135px;
}

.footer_logo{
    width: 137px;
}

.footer_nav{
    display: flex;
    gap: 69px;
}

.footer_nav li a{
    color: var(--gray);
}

.social_medias{
    display: flex;
    gap: 22px;
}

.footer_photos{
    max-width: 330px;
    margin: 0 auto;
    padding-bottom: 35px;
}